/* Page Container */
.page-container {
  padding: 40px;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Header Styling */
.page-header h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.page-header .subtitle {
  font-size: 18px;
  color: var(--secondary-color);
  margin-bottom: 30px;
}

/* Search Bar */
.search-bar {
  margin: 20px auto; /* Center the search bar */
  margin-bottom: 60px; /* Adjust space below the search bar */
  text-align: center;
}

.search-bar input {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 25px;
  width: 90%; /* Wide search bar */
  max-width: 600px; /* Maximum width for search bar */
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-bar input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.4);
}

/* Content Container */
.content-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between cards */
  justify-content: center;
  padding: 20px;
  margin-bottom: 40px; /* Add space between cards and pagination controls */
}

/* No Results Message */
.no-results {
  font-size: 18px;
  color: #888;
  margin-top: 20px;
  text-align: center;
}

/* Pagination Controls */
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between pagination elements */
  margin-top: 90px; /* Add space above the pagination */
}

.pagination-controls button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-controls button:hover {
  background-color: #45a049;
}

.pagination-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-controls span {
  font-size: 16px;
  color: #333;
}
